h4, h5 {
        font-family: sans-serif;
        margin-top: 24pt;
        margin-bottom: 0pt;
        margin-left: 5%; 
        margin-right: 0pt; 
        width: 75%;
}
p.text {
        margin-top: 24pt;
        margin-bottom: 0pt;
        margin-left: 5%; 
        margin-right: 0pt; 
        width: 75%;
}
p.about {
	font-size: 75%;
        text-align: center;
        margin-bottom: 0pt;
        margin-left: 5%; 
        margin-right: 0pt; 
        width: 75%;
}
p.normal {
        margin-bottom: 0pt;
        margin-left: 5%; 
        margin-right: 0pt; 
        width: 75%;
}
